.social-container {
    background:#eee;
    padding: 20px 20px;
    border-radius: 30px;
    
  }

a {
  box-shadow: none;
}

a.social {
margin: 0 1rem;
transition: transform 250ms;
display: inline-block;
justify-content: center;

}
a.social:hover {
transform: translateY(-2px);
}  
a.twitter {
color: black;
}

a.github {
color: black;
}
a.medium{
  color: black;
}
a.devto { 
  color: black;
}
code {
  font-weight: bold;
}
p {
  padding-top: 10px;
}

/* * {
  box-sizing: border-box;
} */

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  /* text-decoration: none; */
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  /* text-decoration: none; */
  margin-bottom: 10px;
  color: #d1d1d1;
  /* transition: color 0.2s; */
}

.bm-item:hover {
  color: #c94e50;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  border-radius: 30px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px!important;
  width: 24px!important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.25em;
  /* text-decoration: none;  */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  /* text-decoration: none;  */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item{
  /* text-decoration: none; */
}

.project-card{
  width: 200px;
  height: 200px;
  border-radius: 60px;
}

.project-card:hover {
  transform: translateY(-4px);
  border-bottom: #c94e50;
  }  